<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Twitt Search Map">
    <title>Twitt Map</title>
    <link rel="stylesheet" href="../static/docsupport/style.css">
    <link rel="stylesheet" href="../static/docsupport/prism.css">
    <link rel="stylesheet" href="../static/css/chosen.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <style type="text/css" media="all">
    .chosen-rtl .chosen-drop {
        left: -9000px;
    }

    #map {
        height: 400px;
        width: 100%;
    }

    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <div class="navbar-brand">Twitt Map</div>
        <div class="navbar-text">Please select a keyword from the dropdown menu</div>
        <ul class="navbar-nav mr-auto">
        </ul>
        <li class="nav-item mr-sm-2 my-lg-0">
            <select data-placeholder=" Keyword Select" style="width:300px;" class="chosen-select" name="category" id="category">
                <option value="trump">trump</option>
                <option>columbia</option>
                <option>china</option>
                <option>sundaymorning</option>
                <option>rockets</option>
                <option>nyc</option>
                <option>nba</option>
                <option>google</option>
                <option>facebook</option>
                <option>Job</option>
                <option>Maroon 5</option>
            </select>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
            <script src="../static/js/chosen.jquery.js" type="text/javascript"></script>
            <script src="../static/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
            <script type="text/javascript">
            var config = {
                '.chosen-select': {},
                '.chosen-select-deselect': { allow_single_deselect: true },
                '.chosen-select-no-single': { disable_search_threshold: 10 },
                '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
                '.chosen-select-width': { width: "95%" }
            }
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }
            </script>
        </li>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="myfunction(category.value)">Submit</button>
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="map"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 2,
            center: { lat: 30, lng: 50 },
            mapTypeId: 'terrain'
        });
     map.addListener('click', function(e) {
    placeMarkerAndPanTo(e.latLng, map);
  });
}

function placeMarkerAndPanTo(latLng, map) {
  clearMarkers();
  var marker = new google.maps.Marker({
    position: latLng,
    map: map
  });
  map.panTo(latLng);
  markers.push(marker);

  var lat;
  var lng;

  google.maps.event.addListener(marker, "click", function(e) {
                    var infoWindow = new google.maps.InfoWindow({
                        content: 'hi'
                    });

                     lat=marker.position.lat()+90.0;
                     lng=marker.position.lng()+180.0;
                    infoWindow.setContent(
                    '<p>Please choose a range to show twitts around this point</p>' +
                    '<select id="distance" name="distance">'+
                    '<option value="2000">2000 KM</option>'+
                    '<option value="1000">1000 KM</option>'+
                    '<option value="500">500 KM</option>'+
                    '<option value="200">200 KM</option>'+
                    '<option value="100">100 KM</option>'+
                    '</select>'+
                '<button onclick="rangeTwitts('+lat+','+lng+', distance.value)">Submit</button>'

                );

                    infoWindow.open(map, marker);



                });

}

function rangeTwitts(lat,lng,distance){
clearMarkers();

        x = 'http://flask-es.us-east-1.elasticbeanstalk.com/distance/'+distance+'/lat/'+lat+'/lon/'+lng;
        console.log(x);
        $.getJSON(x, function(result) {
            $.each(result, function(i, field) {
            <!--console.log('item');-->
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(field.coordinates[0], field.coordinates[1]),
                    map: map,
                    icon: 'https://c1.staticflickr.com/5/4493/37583223730_7c9ac52943_o.png'
                });
                <!--console.log(field.coordinates[0]);-->
                markers.push(marker);
                //Attach click event handler to the marker.
                google.maps.event.addListener(marker, "click", function(e) {
                    var infoWindow = new google.maps.InfoWindow({
                        content: field.text
                    });
                    infoWindow.open(map, marker);



                });
            });
        });
}
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    var markers = [];

    function clearMarkers(){
    for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
    }

    function myfunction(key) {
        clearMarkers();
        x = 'http://flask-es.us-east-1.elasticbeanstalk.com/keyword/' + key + '/size/100';
        $.getJSON(x, function(result) {
            $.each(result, function(i, field) {
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(field.coordinates[0], field.coordinates[1]),
                    map: map,
                    icon: 'https://c1.staticflickr.com/5/4467/37823215366_b39c2a9746_o.png'
                });
                markers.push(marker);
                //Attach click event handler to the marker.
                google.maps.event.addListener(marker, "click", function(e) {
                    var infoWindow = new google.maps.InfoWindow({
                        content: field.text
                    });
                    infoWindow.open(map, marker);



                });
            });
        });
    }


    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA95tPzMSrM5uiKcoBgbYgxX47MYFBE9c4&callback=initMap">
    </script>
<div>Also, you can click anywhere on the map to search for twitts around that point</div>
</body>

</html>